<div data-controller="realtime-partial" data-realtime-partial-key="inventories/<%= char.id %>" id="inventoryModalContainer<%= char.id %>">
  <%= render "pages/character_inventory", char: char %>
</div>

<div class="character-container nes-container">
  <div class="character-card">
    <div class="nes-input is-dark d-flex justify-content-between align-items-center">
      <%= char.name %>
      <div class="character-actions d-flex">
        <button class="nes-btn is-success" data-toggle="modal" data-target="#inventoryModal<%= char.id %>">
          <i class="fas fa-box"></i>
        </button>
        <%= link_to edit_character_path(char), class: "nes-btn is-primary ml-2" do %>
          <i class="fas fa-pen"></i>
        <% end %>
      </div>
    </div>
    <div class="container">
      <div id="life<%= char.id %>" class="row life-container">
        <%= render "pages/life", char: char %>
      </div>
      <div id="dices-container" data-controller="chat">
        <div class="d-flex justify-content-between">
          <button class="d-flex nes-btn is-primary" data-action="click->chat#launchDice" data-difficulty="4" data-name="Dé 4" data-character-id="<%= char.id %>" data-dice="d4">
            d4
          </button>
          <button class="d-flex nes-btn is-primary" data-action="click->chat#launchDice" data-difficulty="6" data-name="Dé 6" data-character-id="<%= char.id %>" data-dice="d6">
            d6
          </button>
          <button class="d-flex nes-btn is-primary" data-action="click->chat#launchDice" data-difficulty="8" data-name="Dé 8" data-character-id="<%= char.id %>" data-dice="d8">
            d8
          </button>
          <button class="d-flex nes-btn is-primary" data-action="click->chat#launchDice" data-difficulty="10" data-name="Dé 10" data-character-id="<%= char.id %>" data-dice="d10">
            d10
          </button>
          <button class="d-flex nes-btn is-primary" data-action="click->chat#launchDice" data-difficulty="12" data-name="Dé 12" data-character-id="<%= char.id %>" data-dice="d12">
            d12
          </button>
          <button class="d-flex nes-btn is-primary" data-action="click->chat#launchDice" data-difficulty="20" data-name="Dé 20" data-character-id="<%= char.id %>" data-dice="d20">
            d20
          </button>
        </div>
      </div>
      <div class="skills d-flex justify-content-between" data-controller="chat" id="skills<%= char.id %>">
        <%= render "pages/skills", char: char %>
      </div>
      <div class="skills" id="special_skills">
        <% char.special_skills.order(:id).each do |special_skill| %>
          <hr>
          <div class="special-skill">
            <span class="special-skill__name mx-1"><%= special_skill.name %></span>
            <form data-controller="chat" action="#" id="launch-<%= special_skill.id %>" class="special-skill__form" data-action="submit->chat#launchSpecial">
              <div class="d-flex flex-column">
                <%= select_tag "skill", options_for_select(char.skills), include_blank: true, data: { target: "chat.skill" } %>
                <%= number_field_tag "factor", nil, placeholder: "Facteur", data: { target: "chat.factor" } %>
              </div>
              <%= number_field_tag "value", special_skill.value, class: "d-none", data: { target: "chat.value" } %>
              <%= text_field_tag "name", special_skill.name, class: "d-none", data: { target: "chat.name" } %>
              <%= number_field_tag "character_id", char.id, class: "d-none", data: { target: "chat.characterId" } %>
              <button class="d-flex" data-character-id="<%= char.id %>">
                <%= special_skill.value %>
                <i class="fas fa-dice-d20 ml-2"></i>
              </button>
            </form>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
