<div class="home-container">
  <div class="top-section no-gutters d-flex">
    <% @characters.each do |char| %>
      <div id="character<%= char.id %>" data-controller="realtime-partial" data-realtime-partial-key="characters/<%= char.id %>">
        <%= render "pages/character", char: char %>
      </div>
    <% end %>
  </div>
  <div class="bottom-section row no-gutters">
    <div id="chat"
      data-controller="chat"
      class="chat-container tab-pane col-lg-4">
      <%= render "pages/chat", messages: @messages %>
    </div>
    <%= render "pages/map" %>
  </div>
</div>
